body { /* terminarlo */
    background-image: url("colores.jpg");
    background-size: cover;
}

.title { 
    color: #d4c816d5;
    text-align: center;
    background-color: #d819bfbb;
    line-height: 60px;
    border-radius: 15px;
}

h2 {
    color: white;
    text-align: center;
    text-shadow: rgb(24, 31, 129) 2px 2px 8px;
    background-color: rgba(214, 248, 19, 0.753);
    border-radius: 8px;
}

.nombre {
    font-family: cursive;
    font-style: oblique;
    color: rgba(88, 88, 218, 0.767);
    background-color: rgba(255, 127, 80, 0.698);
    border-radius: 30px;
    line-height: 45px;
    font-weight: bold;
}

.apellido-paterno {
    font-family: cursive;
    font-style: oblique;
    color: rgba(226, 138, 207, 0.863);
    background-color: rgba(80, 141, 255, 0.582);
    border-radius: 30px;
    line-height: 45px;
    font-weight: bold;
}

.apellido-materno {
    font-family: cursive;
    font-style: oblique;
    color: rgba(17, 116, 30, 0.849);
    background-color: rgba(174, 212, 248, 0.911);
    border-radius: 30px;
    line-height: 45px;
    font-weight: bold;
}

.CURP {
    font-family: cursive;
    font-style: oblique;
    color: rgba(233, 119, 25, 0.849);
    background-color: rgba(25, 239, 246, 0.644);
    border-radius: 10px;
    line-height: 45px;
    font-weight: bold;
}

.NSS {
    font-family: cursive;
    font-style: oblique;
    color: rgba(5, 148, 60, 0.849);
    background-color: rgba(246, 183, 65, 0.644);
    border-radius: 25px;
    line-height: 45px;
    font-weight: bold;
}

.email {
    font-family: cursive;
    color: rgba(22, 75, 124, 0.993);
    background-color: rgba(60, 255, 0, 0.644);
    line-height: 45px;
    border-radius: 5px;
    font-weight: bold;
}

.postracion {
    font-family: cursive;
    color: rgba(180, 55, 55, 0.993);
    background-color: rgba(230, 233, 55, 0.644);
    line-height: 45px;
    border-radius: 5px;
    font-weight: bold;
}

.padecimiento {
    background-color: rgba(179, 18, 179, 0.692);
    font-family: cursive;
    color: rgba(255, 255, 0, 0.698);
    line-height: 45px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
}

.box-comment {
    font-family: cursive;
    color: violet;
    background-color: rgba(60, 133, 216, 0.678);
    border-radius: 30px;
    font-weight: bold;
}

.lista {
    background-color: rgba(255, 238, 0, 0.644);
    border-radius: 40px;
    font-family: cursive;
    font-weight: bold;
    color: rgb(200, 112, 12);
    line-height: 40px;
    font-size: 20px;
}

.button {
    color: rgb(226, 131, 6);
    border-radius: 30px;
    background-color: rgba(15, 17, 66, 0.596);
    font-weight: bold;
    text-shadow: rgb(226, 227, 238) 2px 2px 8px;
}

#post {
    text-align: center;
}